{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <title>{% block title %}Cofetaria{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'Cofetarie/CSS/stil.css' %}">
</head>
<body>
    
    <div class="linie-sus"></div>

    <header>
        <h1>Cofetaria NicoSweet</h1>
        
        <nav class="meniu-principal">
            <ul>
                <li class="dropdown">
                    <a href="{% url 'acasa' %}" class="dropbtn">Acasă</a>
                    <div class="dropdown-content">
                        <a href="{% url 'acasa' %}#bun-venit">Bun Venit</a>
                        <a href="{% url 'acasa' %}#noutati">Noutăți</a>
                        <a href="{% url 'acasa' %}#recomandari">Recomandări</a>
                        <a href="{% url 'acasa' %}#evenimente">Evenimente</a>
                        <a href="{% url 'acasa' %}#promotii">Promoții</a>
                    </div>
                </li>
                
                <li class="dropdown">
                    <a href="{% url 'despre' %}" class="dropbtn">Despre</a>
                    <div class="dropdown-content">
                        <a href="{% url 'despre' %}#povestea">Povestea Noastră</a>
                        <a href="{% url 'despre' %}#echipa">Echipa</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="" class="dropbtn">Categorii</a>
                    
                    <div class="dropdown-content">
                    {% for cod, nume in lista_categorii %}
                        <a href="{% url 'detalii_categorie' cod_categorie=cod %}">
                        {{ nume }}
                    </a>
                    {% endfor %}
                    </div>
                </li>    
                
                <li><a href="{% url 'produse' %}">Produse</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'cos_virtual' %}">Coș</a></li>
                
                <li><a href="{% url 'log' %}">Log</a></li>
                <li><a href="{% url 'info' %}">Info</a></li>

                <li class="dropdown dreapta">
                {% if user.is_authenticated %}
                    <a href="#" class="dropbtn">
                        <i class="fa-solid fa-user"></i> 
                        {% if user.username %}
                            {{ user.username }}
                        {% else %}
                            {{ user.first_name }}
                        {% endif %}
                    </a>
                    <div class="dropdown-content">
                        <a href="{% url 'profil' %}">Profil</a>
                        
                        <form action="{% url 'logout' %}" method="post" style="margin:0;">
                            {% csrf_token %}
                            <button type="submit" class="logout-link">Ieșire cont</button>
                        </form>
                    </div>
                {% else %}
                    <a href="#" class="dropbtn">
                        <i class="fa-solid fa-user"></i> Cont
                    </a>
                    <div class="dropdown-content">
                        <a href="{% url 'login' %}">Autentificare</a>
                        <a href="{% url 'inregistrare' %}">Înregistrare</a>
                    </div>
                {% endif %}
            </li>
            </ul>
        </nav>



    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>IP-ul tău este: <strong>{{ user_ip }}</strong></p>
        <p>Proiect realizat de Gună Adriana Nicoleta</p>
        </footer>

</body>
</html>

{% comment %} 

fisierele sunt 
-dinamice: se schimba in functie de utilizator
-statice: nu se schimba niciodata: img, css, js 

daca nu dam {% load static %} si vrem sa incarcam poze, primi eroare
django cauta in tot proiectul un fisier numit static si de acolo ia imaginile
daca puneam calea directa a imaginii in cod, puteam primi eroare in cazul in care locatia imaginii se schimba

{% endcomment %}