{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Cofetaria{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'Cofetarie/CSS/stil.css' %}">
</head>
<body>

    <header>
        <h1>Cofetaria NicoSweet</h1>
        
        <nav class="meniu-principal">
            <ul>
                <li class="dropdown">
                    <a href="{% url 'acasa' %}" class="dropbtn">Acasă</a>
                    <div class="dropdown-content">
                        <a href="{% url 'acasa' %}#bun-venit">Bun Venit</a>
                        <a href="{% url 'acasa' %}#noutati">Noutăți</a>
                        <a href="{% url 'acasa' %}#recomandari">Recomandări</a>
                        <a href="{% url 'acasa' %}#evenimente">Evenimente</a>
                        <a href="{% url 'acasa' %}#promotii">Promoții</a>
                    </div>
                </li>
                
                <li class="dropdown">
                    <a href="{% url 'despre' %}" class="dropbtn">Despre</a>
                    <div class="dropdown-content">
                        <a href="{% url 'despre' %}#povestea">Povestea Noastră</a>
                        <a href="{% url 'despre' %}#echipa">Echipa</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="" class="dropbtn">Categorii</a>
                    
                    <div class="dropdown-content">
                    {% for cod, nume in lista_categorii %}
                        <a href="{% url 'detalii_categorie' cod_categorie=cod %}">
                        {{ nume }}
                    </a>
                    {% endfor %}
                    </div>
                </li>    
                
                <li><a href="{% url 'produse' %}">Produse</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'cos_virtual' %}">Coș</a></li>
                
                <li><a href="{% url 'log' %}">Log</a></li>
                <li><a href="{% url 'info' %}">Info</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Proiect realizat de Gună Adriana Nicoleta</p>
        </footer>

</body>
</html>